@tailwind base;
@tailwind components;
@tailwind utilities;

section,
header,
footer {
  @apply w-full px-4 md:px-8 lg:px-16 py-4;
}

.section {
  @apply w-full px-4 md:px-8 lg:px-16;
}
.inner_section {
  @apply mx-auto max-w-[1308px];
}
nav {
  ul {
    @apply gap-6;
  }

  @media screen and (max-width: 767px) {
    @apply fixed w-[400px] left-[2100%] h-screen bg-white top-[65px] z-50 right-0 pt-6;

    ul {
      @apply flex-col items-start gap-0;
      li {
        @apply w-full;
        a {
          @apply border-b border-[#e7e7e7] block w-full;
          padding: 10px !important;
          padding-left: 35px !important;
          padding-right: 35px !important;
        }
      }
    }

    &.close {
      @apply left-[0%];
    }
  }
}

.header_quote_btn {
  @media screen and (max-width: 850px) {
    @apply hidden;
  }
}
.hamburger {
  @apply hidden;
  @media screen and (max-width: 767px) {
    @apply block;
  }
}
.banner {
  @media screen and (max-width: 850px) {
    @apply pt-[70px];
  }
}
